OA_AOAI_APIKEY = << your Azure OpenAI API Key >>
OA_AOAI_ENDPOINT = << your Azure OpenAI Endpoint >>
OA_CHATCOMPLETION_DEPLOYMENTNAME = << your Azure OpenAI ChatCompletion Deployment Name >>
OA_STORAGE_CONNECTIONSTRING = << your Azure Storage Account API Key >>
OA_STORAGE_COLLABPAGECONTAINER = << your Azure Storage Container used for Collaboration >>
OA_SERVICEBUS_CONNECTIONSTRING = << your Azure Service Bus Connection String >>
OA_SERVICEBUS_SUBSCRIPTION = << your Azure Service Bus Agent Runtime Topic Subscription >>
OA_SERVICEBUS_SUBSCRIPTIONHUMAN = << your Azure Service Bus Human Collaborator Topic Subscription >>
OA_SERVICEBUS_TOPIC = << your Azure Service Bus Topic >>
OA_AGENT_RESPONSEFORMAT = << your Agent Response Format e.g. {@AgentName}_{@GUID}.txt >>
